* {
  font-family: inter;
}

.header_section {
  background-color: #F5F7FA;
}
.header_section .container-fluid .navbar {
  padding: 10px 144px;
}
.header_section .container-fluid .navbar ul li {
  font-size: 16px;
  font-weight: 500;
}

.hero_section .container-fluid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero_section .container-fluid .hero_div {
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
  gap: 104px;
  padding: 96px 144px;
}
.hero_section .container-fluid .hero_div .hero_content {
  width: 657px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_section .container-fluid .hero_div .hero_content h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  text-align: left;
  color: #4D4D4D;
  margin-bottom: 16px;
}
.hero_section .container-fluid .hero_div .hero_content h1 span {
  color: #4caf4f;
}
.hero_section .container-fluid .hero_div .hero_content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
  margin-bottom: 32px;
}
.hero_section .container-fluid .hero_div .hero_content button {
  background-color: #4caf4f;
  color: #fff;
  width: 128px;
  height: 52px;
}
.hero_section .container-fluid .hero_div .hero_img img {
  width: 391px;
  height: 407px;
}
.hero_section .container-fluid .clients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 144px 4%;
}
.hero_section .container-fluid .clients .client_header {
  text-align: center;
}
.hero_section .container-fluid .clients .client_header h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}
.hero_section .container-fluid .clients .client_header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4D4D4D;
}
.hero_section .container-fluid .clients .client_logo {
  display: flex;
  justify-content: space-between;
}
.hero_section .container-fluid .community_system {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero_section .container-fluid .community_system .community_header {
  text-align: center;
}
.hero_section .container-fluid .community_system .community_header h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}
.hero_section .container-fluid .community_system .community_header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
.hero_section .container-fluid .community_system .community_cards {
  display: flex;
  justify-content: space-between;
  padding: 0px 144px;
}
.hero_section .container-fluid .community_system .community_cards .ccard {
  width: 299px;
  text-align: center;
  padding: 24px 34px;
  border: 1px solid #fff;
  border-radius: 8px;
}
.hero_section .container-fluid .community_system .community_cards .ccard img {
  margin-bottom: 16px;
}
.hero_section .container-fluid .community_system .community_cards .ccard h2 {
  font-size: 28px;
  font-weight: bold;
  color: #4D4D4D;
  margin-bottom: 8px;
}
.hero_section .container-fluid .community_system .community_cards .ccard p {
  font-size: 14px;
  color: #4D4D4D;
}

.pixel_section .container-fluid {
  padding: 30px 144px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.pixel_section .container-fluid .pixelgrade {
  display: flex;
  gap: auto;
  justify-content: space-between;
}
.pixel_section .container-fluid .pixelgrade img {
  margin-left: 100px;
}
.pixel_section .container-fluid .pixelgrade .pixelgrade_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 661px;
  padding-left: 30px;
}
.pixel_section .container-fluid .pixelgrade .pixelgrade_details h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
  margin-bottom: 16px;
}
.pixel_section .container-fluid .pixelgrade .pixelgrade_details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
  margin-bottom: 32px;
}
.pixel_section .container-fluid .pixelgrade button {
  background-color: #4caf4f;
  color: #fff;
  width: 151px;
  height: 52px;
}

.information_section {
  background-color: #F5F7FA;
}
.information_section .container-fluid {
  padding: 24px 33px;
}
.information_section .container-fluid .info_data {
  display: flex;
  justify-content: space-between;
  background-color: #F5F7FA;
  padding: 64px 0;
}
.information_section .container-fluid .info_data .info_heading {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}
.information_section .container-fluid .info_data .info_heading h2 {
  color: #4D4D4D;
  font-size: 36px;
  margin-bottom: 8px;
  line-height: 44px;
  font-weight: 600;
}
.information_section .container-fluid .info_data .info_heading h2 span {
  color: #4caf4f;
}
.information_section .container-fluid .info_data .info_heading p {
  font-size: 16px;
}
.information_section .container-fluid .info_data .info_numbers {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 120px;
  padding-left: 48px;
}
.information_section .container-fluid .info_data .info_numbers .member {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.information_section .container-fluid .info_data .info_numbers .member .first-1 {
  display: flex;
  gap: 16px;
  width: 50%;
}
.information_section .container-fluid .info_data .info_numbers .member .first-1 .icon img {
  width: 48px;
  height: 48px;
}
.information_section .container-fluid .info_data .info_numbers .member .first-1 .text h2 {
  font-size: 28px;
  font-weight: bold;
}
.information_section .container-fluid .info_data .info_numbers .member .first-1 .text p {
  font-size: 16px;
  color: #4D4D4D;
}
.information_section .container-fluid .info_data .info_numbers .member .first-2 {
  display: flex;
  gap: 16px;
  width: 50%;
}
.information_section .container-fluid .info_data .info_numbers .member .first-2 .icon img {
  width: 48px;
  height: 48px;
}
.information_section .container-fluid .info_data .info_numbers .member .first-2 .text h2 {
  font-size: 28px;
  font-weight: bold;
}
.information_section .container-fluid .info_data .info_numbers .member .first-2 .text p {
  font-size: 16px;
  color: #4D4D4D;
}
.information_section .container-fluid .info_data .info_numbers .booking {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-1 {
  display: flex;
  gap: 16px;
  width: 50%;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-1 .icon img {
  width: 48px;
  height: 48px;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-1 .text h2 {
  font-size: 28px;
  font-weight: bold;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-1 .text p {
  font-size: 16px;
  color: #4D4D4D;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-2 {
  display: flex;
  gap: 16px;
  width: 50%;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-2 .icon img {
  width: 48px;
  height: 48px;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-2 .text h2 {
  font-size: 28px;
  font-weight: bold;
}
.information_section .container-fluid .info_data .info_numbers .booking .second-2 .text p {
  font-size: 16px;
  color: #4D4D4D;
}

.how_to_design .container-fluid {
  padding: 0px 144px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 48px 0px;
}
.how_to_design .container-fluid .how_to {
  display: flex;
  gap: auto;
  justify-content: space-between;
}
.how_to_design .container-fluid .how_to img {
  margin-left: 100px;
}
.how_to_design .container-fluid .how_to .how_to_do_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
.how_to_design .container-fluid .how_to .how_to_do_details h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
  margin-bottom: 16px;
}
.how_to_design .container-fluid .how_to .how_to_do_details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
  margin-bottom: 32px;
}
.how_to_design .container-fluid .how_to button {
  background-color: #4caf4f;
  color: #fff;
  width: 151px;
  height: 52px;
}

.racing_info {
  background-color: #F5F7FA;
}
.racing_info .container-fluid {
  padding: 32px 144px;
}
.racing_info .container-fluid .racing {
  display: flex;
  gap: 78px;
}
.racing_info .container-fluid .racing .racing_img {
  width: 326px;
  height: 326px;
  border-radius: 8px;
}
.racing_info .container-fluid .racing .racing_details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 90px;
}
.racing_info .container-fluid .racing .racing_details .texts p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
.racing_info .container-fluid .racing .racing_details .texts h3 {
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
  margin-bottom: 8px;
  padding: 10px;
}
.racing_info .container-fluid .racing .racing_details .texts .company {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
.racing_info .container-fluid .racing .racing_details .icons {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.racing_info .container-fluid .racing .racing_details .icons .racing_icons {
  display: flex;
  justify-content: space-between;
  gap: 41px;
  width: 65%;
  cursor: pointer;
}
.racing_info .container-fluid .racing .racing_details .icons .btn-text {
  display: flex;
  gap: 8px;
  width: 30%;
}
.racing_info .container-fluid .racing .racing_details .icons .btn-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
  padding-top: 12px;
  cursor: pointer;
}

.marketing_section .container-fluid {
  padding: 48px 144px 70px;
}
.marketing_section .container-fluid .new_marketing {
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marketing_section .container-fluid .new_marketing .headings {
  height: 124px;
}
.marketing_section .container-fluid .new_marketing .headings h2 {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}
.marketing_section .container-fluid .new_marketing .headings p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #F5F7FA;
}
.marketing_section .container-fluid .new_marketing .cards {
  display: flex;
  justify-content: space-between;
}
.marketing_section .container-fluid .new_marketing .cards .card {
  border: none;
}
.marketing_section .container-fluid .new_marketing .cards .card .text {
  background-color: #F5F7FA;
  width: 317px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  margin-left: 25px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}
.marketing_section .container-fluid .new_marketing .cards .card .text p {
  font-size: 20px;
  font-weight: 600;
  color: #4D4D4D;
}
.marketing_section .container-fluid .new_marketing .cards .card .text .sub-text {
  justify-content: center;
  display: flex;
}
.marketing_section .container-fluid .new_marketing .cards .card .text .sub-text img {
  height: 24px;
  width: 24px;
}
.marketing_section .container-fluid .new_marketing .cards .card .text .sub-text h6 {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
}

.demo_section {
  background-color: #F5F7FA;
}
.demo_section .container-fluid {
  padding: 32px 0px;
}
.demo_section .container-fluid .content {
  text-align: center;
}
.demo_section .container-fluid .content h1 {
  font-size: 64px;
  font-weight: 600;
}
.demo_section .container-fluid .content button {
  background-color: #4caf4f;
  color: #fff;
  width: 178px;
  height: 52px;
  margin-top: 32px;
}

.footer_section {
  background-color: #28323c;
}
.footer_section .container-fluid {
  padding: 64px 165px;
  display: flex;
  gap: 125px;
}
.footer_section .container-fluid .footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.footer_section .container-fluid .footer_left .text {
  color: #fff;
}
.footer_section .container-fluid .footer_left .text p {
  margin-bottom: 0;
}
.footer_section .container-fluid .footer_left .socials {
  letter-spacing: 15px;
}
.footer_section .container-fluid .footer_right {
  display: flex;
  justify-content: space-between;
  width: 55%;
  color: #fff;
}
.footer_section .container-fluid .footer_right .content {
  display: flex;
  flex-direction: column;
}
.footer_section .container-fluid .footer_right .content h6 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}
.footer_section .container-fluid .footer_right .content .btn {
  display: flex;
  border-radius: 8px;
  border: 1px solid #515B60;
  background-color: #515B60;
  justify-content: space-between;
  width: 255px;
  height: 40px;
  cursor: text;
}
.footer_section .container-fluid .footer_right .content .btn p {
  margin-bottom: 6px;
  font-size: 14px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */